extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'tabs'
  - var parent = 'components'
  - var title = 'Tabs - Components - Spectre.css CSS Framework'
  - var description = 'Tabs enable quick switch between different views. Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('tabs', 'Tabs')
    include ../_layout/_ad-g.pug

    p Tabs enable quick switch between different views.

    .docs-demo.columns
      .column.col-6.col-sm-12
        .tab
          input(type="radio" name="tab1" id="tab1-1" checked)
          label.tab-item(for="tab1-1")
            | Music
          input(type="radio" name="tab1" id="tab1-2")
          label.tab-item(for="tab1-2")
            | Playlists
          input(type="radio" name="tab1" id="tab1-3")
          label.tab-item(for="tab1-3")
            | Radio
          input(type="radio" name="tab1" id="tab1-4")
          label.tab-item(for="tab1-4")
            | Store
          .tab-panel
          .tab-panel
          .tab-panel
          .tab-panel
      .column.col-6.col-sm-12
        .tab.tab-block
          input(type="radio" name="tab2" id="tab2-1" checked)
          label.tab-item(for="tab2-1")
            | Music
          input(type="radio" name="tab2" id="tab2-2")
          label.tab-item(for="tab2-2")
            | Playlists
          input(type="radio" name="tab2" id="tab2-3")
          label.tab-item(for="tab2-3")
            | Radio
          .tab-panel
          .tab-panel
          .tab-panel

    p
      | Add a container element with the #[code tab] class.
      | And add child radio inputs and labels with the #[code tab-item] class.
      | You can add the #[code tab-block] class for a full-width tab.
      | The input with the #[code checked] attribute will be highlighted.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="tab">
            <input type="radio" name="tab1" id="tab1-1" checked>
            <label class="tab-item" for="tab1-1">Music</label>
            <input type="radio" name="tab1" id="tab1-2">
            <label class="tab-item" for="tab1-2">Playlists</label>
            <input type="radio" name="tab1" id="tab1-3">
            <label class="tab-item" for="tab1-3">Radio</label>
            <input type="radio" name="tab1" id="tab1-4">
            <label class="tab-item" for="tab1-4">Store</label>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
           </div>

    .docs-demo.columns
      .column.col-sm-12
        .tab
          input(type="radio" name="tab3" id="tab3-1" checked)
          label.tab-item.badge(for="tab3-1" data-badge="999")
            | Music
          input(type="radio" name="tab3" id="tab3-2")
          label.tab-item(for="tab3-2")
            | Playlists
          input(type="radio" name="tab3" id="tab3-3")
          label.tab-item(for="tab3-3")
            | Radio
          .tab-panel
          .tab-panel
          .tab-panel
      .column.col-sm-12
        .tab.tab-block
          input(type="radio" name="tab4" id="tab4-1" checked)
          label.tab-item.badge(for="tab4-1" data-badge="9")
            | Music
          input(type="radio" name="tab4" id="tab4-2")
          label.tab-item.badge(for="tab4-2" data-badge="99")
            | Playlists
          input(type="radio" name="tab4" id="tab4-3")
          label.tab-item(for="tab4-3")
            | Radio
          .tab-panel
          .tab-panel
          .tab-panel

    p
      | If you need #[code badges] on tabs, you can add badge class to the element within #[code tab-item].

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="tab tab-block">
            <input type="radio" name="tab4" id="tab4-1" checked>
            <label class="tab-item badge" for="tab4-1" data-badge="9">Music</label>
            <input type="radio" name="tab4" id="tab4-2">
            <label class="tab-item badge" for="tab4-2" data-badge="99">Playlists</label>
            <input type="radio" name="tab4" id="tab4-3">
            <label class="tab-item" for="tab4-3">Radio</label>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
          </div>

    .docs-demo.columns
      .column.col-12
        .tab
          input(type="radio" name="tab5" id="tab5-1" checked)
          label.tab-item(for="tab5-1")
            | Music
            span.btn.btn-clear
          input(type="radio" name="tab5" id="tab5-2")
          label.tab-item(for="tab5-2")
            | Playlists
          input(type="radio" name="tab5" id="tab5-3")
          label.tab-item(for="tab5-3")
            | Radio
          input(type="radio" name="tab5" id="tab5-4")
          label.tab-item(for="tab5-4")
            | Store
          label.tab-item.tab-action
            .input-group.input-inline
              input.form-input.input-sm(type="text")
              button.btn.btn-primary.btn-sm.input-group-btn Search
          .tab-panel
          .tab-panel
          .tab-panel
          .tab-panel

    p
      | You could add a search box or buttons inside a tab.
      | Add the #[code tab-action] class to the #[code tab-item].

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="tab">
            <input type="radio" name="tab5" id="tab5-1" checked>
            <label class="tab-item" for="tab5-1">Music<span class="btn btn-clear"></span></label>
            <input type="radio" name="tab5" id="tab5-2">
            <label class="tab-item" for="tab5-2">Playlists</label>
            <input type="radio" name="tab5" id="tab5-3">
            <label class="tab-item" for="tab5-3">Radio</label>
            <input type="radio" name="tab5" id="tab5-4">
            <label class="tab-item" for="tab5-4">Store</label>
            <label class="tab-item tab-action">
              <div class="input-group input-inline">
                <input class="form-input input-sm" type="text">
                <button class="btn btn-primary btn-sm input-group-btn">Search</button>
              </div>
            </label>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
            <div class="tab-panel">...</div>
          </div>

    include ../_layout/_ad-c.pug

  include ../_layout/_footer.pug
