// Tabs
.tab {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: $unit-1 0 ($unit-1 - $border-width) 0;

  .tab-item {
    border-bottom: $border-width-lg solid transparent;
    color: inherit;
    cursor: pointer;
    display: block;
    margin: 0 $unit-2 0 0;
    padding: $unit-2 $unit-1 $unit-2 - $border-width-lg $unit-1;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $link-color;
    }

    &.tab-action {
      flex: 1 0 auto;
      text-align: right;
    }

    .btn-clear {
      margin-top: -$unit-1;
    }
  }

  &.tab-block {
    .tab-item {
      flex: 1 0 0;
      text-align: center;
      margin: 0;

      .badge {
        &[data-badge]::after {
          position: absolute;
          right: $unit-h;
          top: $unit-h;
          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.tab-block) {
    .badge {
      padding-right: 0;
    }
  }

  > input[type="radio"] {
    position: absolute;
    left: -100%;

    &:checked + .tab-item {
      border-bottom-color: $primary-color;
      color: $link-color;
    }

    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}):checked ~ .tab-panel:nth-of-type(#{$i}) {
        display: block;
      }
    }
  }

  .tab-panel {
    border-top: $border-width solid $border-color;
    display: none;
    flex-basis: 100%;
  }
}
